Flask==0.10.1
Jinja2==2.7.2
MarkupSafe==0.19
SQLAlchemy==0.9.3
Twisted==13.2.0
Werkzeug==0.9.4
httplib2==0.8
itsdangerous==0.23
mock==1.0.1
praw==2.1.14
py==1.4.20
pytest==2.5.2
requests==2.2.1
six==1.6.1
update-checker==0.9
wsgiref==0.1.2
zope.interface==4.1.1
